$primaryColor:#00A99D;
$textcolor:#333;
$fontFamily: 'Oswald';
$errorMessage: #F36;
$errorBackground:rgba(255,51,102,0.21);
$menuBackground: rgba(0,169,157,0.15);
$screen-xs-min: 320px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 400px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xxl-min: 1440px;

