$primary-color: #00a99d;
$text-color: #333;
$font-family: "Oswald";
$error-message: #f36;
$error-background: rgba(255, 51, 102, 0.21);
$menu-background: rgba(0, 169, 157, 0.15);
$screen-xs-min: 320px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 400px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xxl-min: 1440px;
