

.azjButton .button{
    height: 60px;
    width: 344px;
    margin-top: 1em;
    color: white;
    font-weight: 500;
    font-size: 30px;
    border-radius: 8px;
    border: #fff
}
.azjButton .button-Active{
    background-color: $primaryColor;
}
button:active {
    outline: 0 !important;
}
button:focus {outline:0 !important;}